/* 
    Estilos css para presentación web
    Created on : 13-dic-2014, 8:28:30
    Author     : Webspasto
*/
*{
    background: black;
    color: white;
    font-size: 30px;
    text-align: center;
}

body{
    margin: 0 auto 0;
}

header {
    
}

nav {
    width: auto;
    height: 30px;
    background-color: rgb(241, 214, 97);
}

nav li {
    display: inline-block;
}

nav li a {
    
}

nav li a:hover {
    
}