/* 
    Estilos css para presentación web
    Created on : 13-dic-2014, 8:28:30
    Author     : Webspasto
*/
*{
    font-family: Arial;
}

body{
    margin: 0 auto 0;
    width: 900px;
}

header {
    padding-bottom: 5px;
    padding-top: 5px;
}

nav {
    width: auto;
    border-radius: 4px;
    background-color: #F1D661;
}

nav li {
    width: auto;
    height: 30px;
    list-style: none;
    display: inline-block;
}

nav li a {
    float: left;
    font-size: 18px;
    color: #FFF;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    border-radius: 4px;
    border-right-color: #F8F6E9;
    border-right-style: solid;
    border-right-width: 2px;
}

nav li a:hover {
    background-color: #D4B86F;
    padding-left: 15px;
    padding-right: 15px;
    color: #F8F6E9;
}

footer{
    color:grey;
    margin-bottom: 5px;
    margin-top: 5px; 
    border-top: 2px solid #F8F6E9;
    border-radius: 4px;
    text-align: center;
}

#contenedor{
    margin-bottom: 15px;
    margin-top: 5px;
    border: 2px solid #F8F6E9;
    border-radius: 4px;
    min-height: 200px;
    padding: 5px;
}

#encabezado {
    width: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 150px;
    margin: 0 auto 0;
}

#titulo_cabecera {
    float: left;
    font-family: Brush Script MT;
    font-size: 80px;
}

#logo_cabecera {
    width: 283px;
    height: 112px;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    background: url('../img/Logo.jpg') no-repeat;
    background-size: 283px 112px;
}